fullchain.pem
privkey.pem

# Binaries
*.exe
.env
# Logs
*.log
goal.txt

# Dependency directories
vendor/

# IDE files
.vscode/

# OS files
.DS_Store

# Build output
/dist/

# Temporary files
*.tmp
/tmp

/fullchain.pem
/privkey.pem